<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Most recommended Books</h1>
      <div class="random_books">
        <% random.map(e=>{ %>
        <span><%= e.title%></span>
        <% }) %>
      </div>
    </header>

    <div class="sortedbooks">
      <h1>Sorted Books</h1>
      <% sortedbooks.map(e=>{ %>
      <li><%= e.title %></li>

      <% }) %>
    </div>
    <div class="authors">
      <h1>Authors</h1>
      <% authors.map(e=>{ %>
      <li><%= e %></li>

      <% }) %>
    </div>
  </body>
</html>
